[loggers]
keys=root

[handlers]
keys=file_handler, console

[formatters]
keys=file_formatter, console_formatter

[logger_root]
level=DEBUG
handlers=file_handler, console
propagate=1

[handler_file_handler]
class=FileHandler
level=DEBUG
formatter=file_formatter
args=('game.log', 'w')

[handler_console]
class=StreamHandler
level=ERROR
formatter=console_formatter
args=(sys.stdout,)

[formatter_file_formatter]
format=[%(asctime)s] %(levelname)s [%(name)s:%(lineno)s] %(message)s

[formatter_console_formatter]
format=%(levelname)s [%(name)s:%(lineno)s] %(message)s
